Source: ros-lyrical-qt-gui
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-ros-workspace
Homepage: http://ros.org/wiki/qt_gui
Standards-Version: 3.9.2

Package: ros-lyrical-qt-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-catkin-pkg-modules, ros-lyrical-ament-index-python, ros-lyrical-python-qt-binding, ros-lyrical-tango-icons-vendor, ros-lyrical-ros-workspace
Description: qt_gui provides the infrastructure for an integrated graphical user interface based on Qt.
 It is extensible with Python- and C++-based plugins (implemented in separate packages) which can contribute arbitrary widgets. It requires either PyQt or PySide bindings.
