Source: ros-rolling-qt-gui
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libpyside2-dev, libshiboken2-dev, pyqt5-dev, python3-pyqt5, python3-pyqt5.qtsvg, python3-pyside2.qtsvg, python3-sip-dev, qt5-qmake, qtbase5-dev, shiboken2, ros-rolling-ros-workspace
Homepage: http://ros.org/wiki/qt_gui
Standards-Version: 3.9.2

Package: ros-rolling-qt-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-ament-index, python3-catkin-pkg, python3-python-qt-binding, tango-icon-theme, ros-rolling-ros-workspace
Description: qt_gui provides the infrastructure for an integrated graphical user interface based on Qt.
 It is extensible with Python- and C++-based plugins (implemented in separate packages) which can contribute arbitrary widgets. It requires either PyQt or PySide bindings.
