Source: ros-foxy-qt-dotgraph
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python3-pygraphviz, ros-foxy-ament-cmake, ros-foxy-ament-cmake-pytest, ros-foxy-ament-lint-auto, ros-foxy-ament-lint-common, ros-foxy-ros-workspace
Homepage: http://ros.org/wiki/qt_dotgraph
Standards-Version: 3.9.2

Package: ros-foxy-qt-dotgraph
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-pydot, ros-foxy-python-qt-binding (>= 0.3.0), ros-foxy-ros-workspace
Description: qt_dotgraph provides helpers to work with dot graphs.
